crapgamesdir
crapweightsdir
Dockerfile
DockerfileTF
docker_test_games
downloaded_game_data_0.h5
downloaded_game_data.h5
downloaded_game_data_new
Go_Games_13x13
gooop.py.backup
gooop.pyc
log_of_training.log
nn_ll_tf.py.backup
nn_time_test_9x9.py
nn_time_test.py
nn_time_test_tiny.py
notes.txt
odd_error.txt
pb_files
player_controller.py
player_controller.pyc
play_on_ogs.py
play_with_matplotlib.py
profileout.txt
__pycache__
self_play_games
shodan_dark_rock
shodan_dark_rock_docker_test
shodan_fossa
sl_trained_weights_acc26.tar.gz
testing_pb_export
training_log.log
young_dark_rock
young_ryzen
